<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.micro.service.springquartz.mapper.origin.OriginMapper">
    <select id="queryTableDataByDBVersion" resultType="java.util.Map">
        select * from ${tablename} where dbversion>to_date(#{dbversion},'yyyymmddhh24miss') order by dbversion
    </select>

     <select id="selectTableColumn" resultType="java.util.Map">
        SELECT COLUMN_NAME "NAME",DATA_TYPE "TYPE",DATA_LENGTH "LENGTH" FROM USER_TAB_COLUMNS  WHERE TABLE_NAME = #{tablename,jdbcType=VARCHAR}
    </select>
</mapper>