<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gov.mof.fasp3.masterdata.maincollector.executive.server.dao.BaBgtBalanceAgencyPOMapper">
  <resultMap id="BaseResultMap" type="gov.mof.fasp3.masterdata.maincollector.executive.server.entity.BaBgtBalanceAgencyPO">
    <!--@mbg.generated-->
    <!--@Table BA_BGT_BALANCE_AGENCY-->
    <id column="BALANCE_BGT_ID" jdbcType="VARCHAR" property="BALANCE_BGT_ID" />
    <result column="FISCAL_YEAR" jdbcType="VARCHAR" property="FISCAL_YEAR" />
    <result column="APPROVE_AMT" jdbcType="DECIMAL" property="APPROVE_AMT" />
    <result column="CARRYOVERS_AMT" jdbcType="DECIMAL" property="CARRYOVERS_AMT" />
    <result column="BGT_TYPE_CODE" jdbcType="VARCHAR" property="BGT_TYPE_CODE" />
    <result column="BGT_TYPE_NAME" jdbcType="VARCHAR" property="BGT_TYPE_NAME" />
    <result column="BGT_MOF_DEP_CODE" jdbcType="VARCHAR" property="BGT_MOF_DEP_CODE" />
    <result column="BGT_MOF_DEP_NAME" jdbcType="VARCHAR" property="BGT_MOF_DEP_NAME" />
    <result column="MANAGE_MOF_DEP_CODE" jdbcType="VARCHAR" property="MANAGE_MOF_DEP_CODE" />
    <result column="MANAGE_MOF_DEP_NAME" jdbcType="VARCHAR" property="MANAGE_MOF_DEP_NAME" />
    <result column="COR_BGT_DOC_NO" jdbcType="VARCHAR" property="COR_BGT_DOC_NO" />
    <result column="BGT_DEC" jdbcType="VARCHAR" property="BGT_DEC" />
    <result column="AGENCY_CODE" jdbcType="VARCHAR" property="AGENCY_CODE" />
    <result column="AGENCY_NAME" jdbcType="VARCHAR" property="AGENCY_NAME" />
    <result column="EXP_FUNC_CODE" jdbcType="VARCHAR" property="EXP_FUNC_CODE" />
    <result column="EXP_FUNC_NAME" jdbcType="VARCHAR" property="EXP_FUNC_NAME" />
    <result column="GOV_BGT_ECO_CODE" jdbcType="VARCHAR" property="GOV_BGT_ECO_CODE" />
    <result column="GOV_BGT_ECO_NAME" jdbcType="VARCHAR" property="GOV_BGT_ECO_NAME" />
    <result column="FUND_TYPE_CODE" jdbcType="VARCHAR" property="FUND_TYPE_CODE" />
    <result column="FUND_TYPE_NAME" jdbcType="VARCHAR" property="FUND_TYPE_NAME" />
    <result column="BGT_EXE_FLAG" jdbcType="VARCHAR" property="BGT_EXE_FLAG" />
    <result column="PRO_CODE" jdbcType="VARCHAR" property="PRO_CODE" />
    <result column="PRO_NAME" jdbcType="VARCHAR" property="PRO_NAME" />
    <result column="BUDGET_LEVEL_CODE" jdbcType="VARCHAR" property="BUDGET_LEVEL_CODE" />
    <result column="BUDGET_LEVEL_NAME" jdbcType="VARCHAR" property="BUDGET_LEVEL_NAME" />
    <result column="ORI_BGT_ID" jdbcType="VARCHAR" property="ORI_BGT_ID" />
    <result column="MOF_DIV_CODE" jdbcType="VARCHAR" property="MOF_DIV_CODE" />
    <result column="MOF_DIV_NAME" jdbcType="VARCHAR" property="MOF_DIV_NAME" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="UPDATE_TIME" />
    <result column="IS_DELETED" jdbcType="VARCHAR" property="IS_DELETED" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="CREATE_TIME" />
    <result column="PARAM_1" jdbcType="VARCHAR" property="PARAM_1" />
    <result column="PARAM_2" jdbcType="VARCHAR" property="PARAM_2" />
    <result column="PARAM_3" jdbcType="VARCHAR" property="PARAM_3" />
    <result column="PARAM_4" jdbcType="VARCHAR" property="PARAM_4" />
    <result column="PARAM_5" jdbcType="VARCHAR" property="PARAM_5" />
    <result column="PARAM_6" jdbcType="DECIMAL" property="PARAM_6" />
    <result column="PARAM_7" jdbcType="DECIMAL" property="PARAM_7" />
    <result column="PARAM_8" jdbcType="DECIMAL" property="PARAM_8" />
    <result column="PARAM_9" jdbcType="DECIMAL" property="PARAM_9" />
    <result column="PARAM_10" jdbcType="DECIMAL" property="PARAM_10" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    BALANCE_BGT_ID, FISCAL_YEAR, APPROVE_AMT, CARRYOVERS_AMT, BGT_TYPE_CODE, BGT_TYPE_NAME, 
    BGT_MOF_DEP_CODE, BGT_MOF_DEP_NAME, MANAGE_MOF_DEP_CODE, MANAGE_MOF_DEP_NAME, COR_BGT_DOC_NO, 
    BGT_DEC, AGENCY_CODE, AGENCY_NAME, EXP_FUNC_CODE, EXP_FUNC_NAME, GOV_BGT_ECO_CODE, 
    GOV_BGT_ECO_NAME, FUND_TYPE_CODE, FUND_TYPE_NAME, BGT_EXE_FLAG, PRO_CODE, PRO_NAME, 
    BUDGET_LEVEL_CODE, BUDGET_LEVEL_NAME, ORI_BGT_ID, MOF_DIV_CODE, MOF_DIV_NAME, UPDATE_TIME, 
    IS_DELETED, CREATE_TIME, PARAM_1, PARAM_2, PARAM_3, PARAM_4, PARAM_5, PARAM_6, PARAM_7, 
    PARAM_8, PARAM_9, PARAM_10
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from BA_BGT_BALANCE_AGENCY
    where BALANCE_BGT_ID = #{BALANCE_BGT_ID,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from BA_BGT_BALANCE_AGENCY
    where BALANCE_BGT_ID = #{BALANCE_BGT_ID,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="gov.mof.fasp3.masterdata.maincollector.executive.server.entity.BaBgtBalanceAgencyPO">
    <!--@mbg.generated-->
    insert into BA_BGT_BALANCE_AGENCY (BALANCE_BGT_ID, FISCAL_YEAR, APPROVE_AMT, 
      CARRYOVERS_AMT, BGT_TYPE_CODE, BGT_TYPE_NAME, 
      BGT_MOF_DEP_CODE, BGT_MOF_DEP_NAME, MANAGE_MOF_DEP_CODE, 
      MANAGE_MOF_DEP_NAME, COR_BGT_DOC_NO, BGT_DEC, 
      AGENCY_CODE, AGENCY_NAME, EXP_FUNC_CODE, 
      EXP_FUNC_NAME, GOV_BGT_ECO_CODE, GOV_BGT_ECO_NAME, 
      FUND_TYPE_CODE, FUND_TYPE_NAME, BGT_EXE_FLAG, 
      PRO_CODE, PRO_NAME, BUDGET_LEVEL_CODE, 
      BUDGET_LEVEL_NAME, ORI_BGT_ID, MOF_DIV_CODE, 
      MOF_DIV_NAME, UPDATE_TIME, IS_DELETED, 
      CREATE_TIME, PARAM_1, PARAM_2, 
      PARAM_3, PARAM_4, PARAM_5, 
      PARAM_6, PARAM_7, PARAM_8, 
      PARAM_9, PARAM_10)
    values (#{BALANCE_BGT_ID,jdbcType=VARCHAR}, #{FISCAL_YEAR,jdbcType=VARCHAR}, #{APPROVE_AMT,jdbcType=DECIMAL}, 
      #{CARRYOVERS_AMT,jdbcType=DECIMAL}, #{BGT_TYPE_CODE,jdbcType=VARCHAR}, #{BGT_TYPE_NAME,jdbcType=VARCHAR}, 
      #{BGT_MOF_DEP_CODE,jdbcType=VARCHAR}, #{BGT_MOF_DEP_NAME,jdbcType=VARCHAR}, #{MANAGE_MOF_DEP_CODE,jdbcType=VARCHAR}, 
      #{MANAGE_MOF_DEP_NAME,jdbcType=VARCHAR}, #{COR_BGT_DOC_NO,jdbcType=VARCHAR}, #{BGT_DEC,jdbcType=VARCHAR}, 
      #{AGENCY_CODE,jdbcType=VARCHAR}, #{AGENCY_NAME,jdbcType=VARCHAR}, #{EXP_FUNC_CODE,jdbcType=VARCHAR}, 
      #{EXP_FUNC_NAME,jdbcType=VARCHAR}, #{GOV_BGT_ECO_CODE,jdbcType=VARCHAR}, #{GOV_BGT_ECO_NAME,jdbcType=VARCHAR}, 
      #{FUND_TYPE_CODE,jdbcType=VARCHAR}, #{FUND_TYPE_NAME,jdbcType=VARCHAR}, #{BGT_EXE_FLAG,jdbcType=VARCHAR}, 
      #{PRO_CODE,jdbcType=VARCHAR}, #{PRO_NAME,jdbcType=VARCHAR}, #{BUDGET_LEVEL_CODE,jdbcType=VARCHAR}, 
      #{BUDGET_LEVEL_NAME,jdbcType=VARCHAR}, #{ORI_BGT_ID,jdbcType=VARCHAR}, #{MOF_DIV_CODE,jdbcType=VARCHAR}, 
      #{MOF_DIV_NAME,jdbcType=VARCHAR}, #{UPDATE_TIME,jdbcType=TIMESTAMP}, #{IS_DELETED,jdbcType=VARCHAR}, 
      #{CREATE_TIME,jdbcType=TIMESTAMP}, #{PARAM_1,jdbcType=VARCHAR}, #{PARAM_2,jdbcType=VARCHAR}, 
      #{PARAM_3,jdbcType=VARCHAR}, #{PARAM_4,jdbcType=VARCHAR}, #{PARAM_5,jdbcType=VARCHAR}, 
      #{PARAM_6,jdbcType=DECIMAL}, #{PARAM_7,jdbcType=DECIMAL}, #{PARAM_8,jdbcType=DECIMAL}, 
      #{PARAM_9,jdbcType=DECIMAL}, #{PARAM_10,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="gov.mof.fasp3.masterdata.maincollector.executive.server.entity.BaBgtBalanceAgencyPO">
    <!--@mbg.generated-->
    insert into BA_BGT_BALANCE_AGENCY
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="BALANCE_BGT_ID != null">
        BALANCE_BGT_ID,
      </if>
      <if test="FISCAL_YEAR != null">
        FISCAL_YEAR,
      </if>
      <if test="APPROVE_AMT != null">
        APPROVE_AMT,
      </if>
      <if test="CARRYOVERS_AMT != null">
        CARRYOVERS_AMT,
      </if>
      <if test="BGT_TYPE_CODE != null">
        BGT_TYPE_CODE,
      </if>
      <if test="BGT_TYPE_NAME != null">
        BGT_TYPE_NAME,
      </if>
      <if test="BGT_MOF_DEP_CODE != null">
        BGT_MOF_DEP_CODE,
      </if>
      <if test="BGT_MOF_DEP_NAME != null">
        BGT_MOF_DEP_NAME,
      </if>
      <if test="MANAGE_MOF_DEP_CODE != null">
        MANAGE_MOF_DEP_CODE,
      </if>
      <if test="MANAGE_MOF_DEP_NAME != null">
        MANAGE_MOF_DEP_NAME,
      </if>
      <if test="COR_BGT_DOC_NO != null">
        COR_BGT_DOC_NO,
      </if>
      <if test="BGT_DEC != null">
        BGT_DEC,
      </if>
      <if test="AGENCY_CODE != null">
        AGENCY_CODE,
      </if>
      <if test="AGENCY_NAME != null">
        AGENCY_NAME,
      </if>
      <if test="EXP_FUNC_CODE != null">
        EXP_FUNC_CODE,
      </if>
      <if test="EXP_FUNC_NAME != null">
        EXP_FUNC_NAME,
      </if>
      <if test="GOV_BGT_ECO_CODE != null">
        GOV_BGT_ECO_CODE,
      </if>
      <if test="GOV_BGT_ECO_NAME != null">
        GOV_BGT_ECO_NAME,
      </if>
      <if test="FUND_TYPE_CODE != null">
        FUND_TYPE_CODE,
      </if>
      <if test="FUND_TYPE_NAME != null">
        FUND_TYPE_NAME,
      </if>
      <if test="BGT_EXE_FLAG != null">
        BGT_EXE_FLAG,
      </if>
      <if test="PRO_CODE != null">
        PRO_CODE,
      </if>
      <if test="PRO_NAME != null">
        PRO_NAME,
      </if>
      <if test="BUDGET_LEVEL_CODE != null">
        BUDGET_LEVEL_CODE,
      </if>
      <if test="BUDGET_LEVEL_NAME != null">
        BUDGET_LEVEL_NAME,
      </if>
      <if test="ORI_BGT_ID != null">
        ORI_BGT_ID,
      </if>
      <if test="MOF_DIV_CODE != null">
        MOF_DIV_CODE,
      </if>
      <if test="MOF_DIV_NAME != null">
        MOF_DIV_NAME,
      </if>
      <if test="UPDATE_TIME != null">
        UPDATE_TIME,
      </if>
      <if test="IS_DELETED != null">
        IS_DELETED,
      </if>
      <if test="CREATE_TIME != null">
        CREATE_TIME,
      </if>
      <if test="PARAM_1 != null">
        PARAM_1,
      </if>
      <if test="PARAM_2 != null">
        PARAM_2,
      </if>
      <if test="PARAM_3 != null">
        PARAM_3,
      </if>
      <if test="PARAM_4 != null">
        PARAM_4,
      </if>
      <if test="PARAM_5 != null">
        PARAM_5,
      </if>
      <if test="PARAM_6 != null">
        PARAM_6,
      </if>
      <if test="PARAM_7 != null">
        PARAM_7,
      </if>
      <if test="PARAM_8 != null">
        PARAM_8,
      </if>
      <if test="PARAM_9 != null">
        PARAM_9,
      </if>
      <if test="PARAM_10 != null">
        PARAM_10,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="BALANCE_BGT_ID != null">
        #{BALANCE_BGT_ID,jdbcType=VARCHAR},
      </if>
      <if test="FISCAL_YEAR != null">
        #{FISCAL_YEAR,jdbcType=VARCHAR},
      </if>
      <if test="APPROVE_AMT != null">
        #{APPROVE_AMT,jdbcType=DECIMAL},
      </if>
      <if test="CARRYOVERS_AMT != null">
        #{CARRYOVERS_AMT,jdbcType=DECIMAL},
      </if>
      <if test="BGT_TYPE_CODE != null">
        #{BGT_TYPE_CODE,jdbcType=VARCHAR},
      </if>
      <if test="BGT_TYPE_NAME != null">
        #{BGT_TYPE_NAME,jdbcType=VARCHAR},
      </if>
      <if test="BGT_MOF_DEP_CODE != null">
        #{BGT_MOF_DEP_CODE,jdbcType=VARCHAR},
      </if>
      <if test="BGT_MOF_DEP_NAME != null">
        #{BGT_MOF_DEP_NAME,jdbcType=VARCHAR},
      </if>
      <if test="MANAGE_MOF_DEP_CODE != null">
        #{MANAGE_MOF_DEP_CODE,jdbcType=VARCHAR},
      </if>
      <if test="MANAGE_MOF_DEP_NAME != null">
        #{MANAGE_MOF_DEP_NAME,jdbcType=VARCHAR},
      </if>
      <if test="COR_BGT_DOC_NO != null">
        #{COR_BGT_DOC_NO,jdbcType=VARCHAR},
      </if>
      <if test="BGT_DEC != null">
        #{BGT_DEC,jdbcType=VARCHAR},
      </if>
      <if test="AGENCY_CODE != null">
        #{AGENCY_CODE,jdbcType=VARCHAR},
      </if>
      <if test="AGENCY_NAME != null">
        #{AGENCY_NAME,jdbcType=VARCHAR},
      </if>
      <if test="EXP_FUNC_CODE != null">
        #{EXP_FUNC_CODE,jdbcType=VARCHAR},
      </if>
      <if test="EXP_FUNC_NAME != null">
        #{EXP_FUNC_NAME,jdbcType=VARCHAR},
      </if>
      <if test="GOV_BGT_ECO_CODE != null">
        #{GOV_BGT_ECO_CODE,jdbcType=VARCHAR},
      </if>
      <if test="GOV_BGT_ECO_NAME != null">
        #{GOV_BGT_ECO_NAME,jdbcType=VARCHAR},
      </if>
      <if test="FUND_TYPE_CODE != null">
        #{FUND_TYPE_CODE,jdbcType=VARCHAR},
      </if>
      <if test="FUND_TYPE_NAME != null">
        #{FUND_TYPE_NAME,jdbcType=VARCHAR},
      </if>
      <if test="BGT_EXE_FLAG != null">
        #{BGT_EXE_FLAG,jdbcType=VARCHAR},
      </if>
      <if test="PRO_CODE != null">
        #{PRO_CODE,jdbcType=VARCHAR},
      </if>
      <if test="PRO_NAME != null">
        #{PRO_NAME,jdbcType=VARCHAR},
      </if>
      <if test="BUDGET_LEVEL_CODE != null">
        #{BUDGET_LEVEL_CODE,jdbcType=VARCHAR},
      </if>
      <if test="BUDGET_LEVEL_NAME != null">
        #{BUDGET_LEVEL_NAME,jdbcType=VARCHAR},
      </if>
      <if test="ORI_BGT_ID != null">
        #{ORI_BGT_ID,jdbcType=VARCHAR},
      </if>
      <if test="MOF_DIV_CODE != null">
        #{MOF_DIV_CODE,jdbcType=VARCHAR},
      </if>
      <if test="MOF_DIV_NAME != null">
        #{MOF_DIV_NAME,jdbcType=VARCHAR},
      </if>
      <if test="UPDATE_TIME != null">
        #{UPDATE_TIME,jdbcType=TIMESTAMP},
      </if>
      <if test="IS_DELETED != null">
        #{IS_DELETED,jdbcType=VARCHAR},
      </if>
      <if test="CREATE_TIME != null">
        #{CREATE_TIME,jdbcType=TIMESTAMP},
      </if>
      <if test="PARAM_1 != null">
        #{PARAM_1,jdbcType=VARCHAR},
      </if>
      <if test="PARAM_2 != null">
        #{PARAM_2,jdbcType=VARCHAR},
      </if>
      <if test="PARAM_3 != null">
        #{PARAM_3,jdbcType=VARCHAR},
      </if>
      <if test="PARAM_4 != null">
        #{PARAM_4,jdbcType=VARCHAR},
      </if>
      <if test="PARAM_5 != null">
        #{PARAM_5,jdbcType=VARCHAR},
      </if>
      <if test="PARAM_6 != null">
        #{PARAM_6,jdbcType=DECIMAL},
      </if>
      <if test="PARAM_7 != null">
        #{PARAM_7,jdbcType=DECIMAL},
      </if>
      <if test="PARAM_8 != null">
        #{PARAM_8,jdbcType=DECIMAL},
      </if>
      <if test="PARAM_9 != null">
        #{PARAM_9,jdbcType=DECIMAL},
      </if>
      <if test="PARAM_10 != null">
        #{PARAM_10,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="gov.mof.fasp3.masterdata.maincollector.executive.server.entity.BaBgtBalanceAgencyPO">
    <!--@mbg.generated-->
    update BA_BGT_BALANCE_AGENCY
    <set>
      <if test="FISCAL_YEAR != null">
        FISCAL_YEAR = #{FISCAL_YEAR,jdbcType=VARCHAR},
      </if>
      <if test="APPROVE_AMT != null">
        APPROVE_AMT = #{APPROVE_AMT,jdbcType=DECIMAL},
      </if>
      <if test="CARRYOVERS_AMT != null">
        CARRYOVERS_AMT = #{CARRYOVERS_AMT,jdbcType=DECIMAL},
      </if>
      <if test="BGT_TYPE_CODE != null">
        BGT_TYPE_CODE = #{BGT_TYPE_CODE,jdbcType=VARCHAR},
      </if>
      <if test="BGT_TYPE_NAME != null">
        BGT_TYPE_NAME = #{BGT_TYPE_NAME,jdbcType=VARCHAR},
      </if>
      <if test="BGT_MOF_DEP_CODE != null">
        BGT_MOF_DEP_CODE = #{BGT_MOF_DEP_CODE,jdbcType=VARCHAR},
      </if>
      <if test="BGT_MOF_DEP_NAME != null">
        BGT_MOF_DEP_NAME = #{BGT_MOF_DEP_NAME,jdbcType=VARCHAR},
      </if>
      <if test="MANAGE_MOF_DEP_CODE != null">
        MANAGE_MOF_DEP_CODE = #{MANAGE_MOF_DEP_CODE,jdbcType=VARCHAR},
      </if>
      <if test="MANAGE_MOF_DEP_NAME != null">
        MANAGE_MOF_DEP_NAME = #{MANAGE_MOF_DEP_NAME,jdbcType=VARCHAR},
      </if>
      <if test="COR_BGT_DOC_NO != null">
        COR_BGT_DOC_NO = #{COR_BGT_DOC_NO,jdbcType=VARCHAR},
      </if>
      <if test="BGT_DEC != null">
        BGT_DEC = #{BGT_DEC,jdbcType=VARCHAR},
      </if>
      <if test="AGENCY_CODE != null">
        AGENCY_CODE = #{AGENCY_CODE,jdbcType=VARCHAR},
      </if>
      <if test="AGENCY_NAME != null">
        AGENCY_NAME = #{AGENCY_NAME,jdbcType=VARCHAR},
      </if>
      <if test="EXP_FUNC_CODE != null">
        EXP_FUNC_CODE = #{EXP_FUNC_CODE,jdbcType=VARCHAR},
      </if>
      <if test="EXP_FUNC_NAME != null">
        EXP_FUNC_NAME = #{EXP_FUNC_NAME,jdbcType=VARCHAR},
      </if>
      <if test="GOV_BGT_ECO_CODE != null">
        GOV_BGT_ECO_CODE = #{GOV_BGT_ECO_CODE,jdbcType=VARCHAR},
      </if>
      <if test="GOV_BGT_ECO_NAME != null">
        GOV_BGT_ECO_NAME = #{GOV_BGT_ECO_NAME,jdbcType=VARCHAR},
      </if>
      <if test="FUND_TYPE_CODE != null">
        FUND_TYPE_CODE = #{FUND_TYPE_CODE,jdbcType=VARCHAR},
      </if>
      <if test="FUND_TYPE_NAME != null">
        FUND_TYPE_NAME = #{FUND_TYPE_NAME,jdbcType=VARCHAR},
      </if>
      <if test="BGT_EXE_FLAG != null">
        BGT_EXE_FLAG = #{BGT_EXE_FLAG,jdbcType=VARCHAR},
      </if>
      <if test="PRO_CODE != null">
        PRO_CODE = #{PRO_CODE,jdbcType=VARCHAR},
      </if>
      <if test="PRO_NAME != null">
        PRO_NAME = #{PRO_NAME,jdbcType=VARCHAR},
      </if>
      <if test="BUDGET_LEVEL_CODE != null">
        BUDGET_LEVEL_CODE = #{BUDGET_LEVEL_CODE,jdbcType=VARCHAR},
      </if>
      <if test="BUDGET_LEVEL_NAME != null">
        BUDGET_LEVEL_NAME = #{BUDGET_LEVEL_NAME,jdbcType=VARCHAR},
      </if>
      <if test="ORI_BGT_ID != null">
        ORI_BGT_ID = #{ORI_BGT_ID,jdbcType=VARCHAR},
      </if>
      <if test="MOF_DIV_CODE != null">
        MOF_DIV_CODE = #{MOF_DIV_CODE,jdbcType=VARCHAR},
      </if>
      <if test="MOF_DIV_NAME != null">
        MOF_DIV_NAME = #{MOF_DIV_NAME,jdbcType=VARCHAR},
      </if>
      <if test="UPDATE_TIME != null">
        UPDATE_TIME = #{UPDATE_TIME,jdbcType=TIMESTAMP},
      </if>
      <if test="IS_DELETED != null">
        IS_DELETED = #{IS_DELETED,jdbcType=VARCHAR},
      </if>
      <if test="CREATE_TIME != null">
        CREATE_TIME = #{CREATE_TIME,jdbcType=TIMESTAMP},
      </if>
      <if test="PARAM_1 != null">
        PARAM_1 = #{PARAM_1,jdbcType=VARCHAR},
      </if>
      <if test="PARAM_2 != null">
        PARAM_2 = #{PARAM_2,jdbcType=VARCHAR},
      </if>
      <if test="PARAM_3 != null">
        PARAM_3 = #{PARAM_3,jdbcType=VARCHAR},
      </if>
      <if test="PARAM_4 != null">
        PARAM_4 = #{PARAM_4,jdbcType=VARCHAR},
      </if>
      <if test="PARAM_5 != null">
        PARAM_5 = #{PARAM_5,jdbcType=VARCHAR},
      </if>
      <if test="PARAM_6 != null">
        PARAM_6 = #{PARAM_6,jdbcType=DECIMAL},
      </if>
      <if test="PARAM_7 != null">
        PARAM_7 = #{PARAM_7,jdbcType=DECIMAL},
      </if>
      <if test="PARAM_8 != null">
        PARAM_8 = #{PARAM_8,jdbcType=DECIMAL},
      </if>
      <if test="PARAM_9 != null">
        PARAM_9 = #{PARAM_9,jdbcType=DECIMAL},
      </if>
      <if test="PARAM_10 != null">
        PARAM_10 = #{PARAM_10,jdbcType=DECIMAL},
      </if>
    </set>
    where BALANCE_BGT_ID = #{BALANCE_BGT_ID,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="gov.mof.fasp3.masterdata.maincollector.executive.server.entity.BaBgtBalanceAgencyPO">
    <!--@mbg.generated-->
    update BA_BGT_BALANCE_AGENCY
    set FISCAL_YEAR = #{FISCAL_YEAR,jdbcType=VARCHAR},
      APPROVE_AMT = #{APPROVE_AMT,jdbcType=DECIMAL},
      CARRYOVERS_AMT = #{CARRYOVERS_AMT,jdbcType=DECIMAL},
      BGT_TYPE_CODE = #{BGT_TYPE_CODE,jdbcType=VARCHAR},
      BGT_TYPE_NAME = #{BGT_TYPE_NAME,jdbcType=VARCHAR},
      BGT_MOF_DEP_CODE = #{BGT_MOF_DEP_CODE,jdbcType=VARCHAR},
      BGT_MOF_DEP_NAME = #{BGT_MOF_DEP_NAME,jdbcType=VARCHAR},
      MANAGE_MOF_DEP_CODE = #{MANAGE_MOF_DEP_CODE,jdbcType=VARCHAR},
      MANAGE_MOF_DEP_NAME = #{MANAGE_MOF_DEP_NAME,jdbcType=VARCHAR},
      COR_BGT_DOC_NO = #{COR_BGT_DOC_NO,jdbcType=VARCHAR},
      BGT_DEC = #{BGT_DEC,jdbcType=VARCHAR},
      AGENCY_CODE = #{AGENCY_CODE,jdbcType=VARCHAR},
      AGENCY_NAME = #{AGENCY_NAME,jdbcType=VARCHAR},
      EXP_FUNC_CODE = #{EXP_FUNC_CODE,jdbcType=VARCHAR},
      EXP_FUNC_NAME = #{EXP_FUNC_NAME,jdbcType=VARCHAR},
      GOV_BGT_ECO_CODE = #{GOV_BGT_ECO_CODE,jdbcType=VARCHAR},
      GOV_BGT_ECO_NAME = #{GOV_BGT_ECO_NAME,jdbcType=VARCHAR},
      FUND_TYPE_CODE = #{FUND_TYPE_CODE,jdbcType=VARCHAR},
      FUND_TYPE_NAME = #{FUND_TYPE_NAME,jdbcType=VARCHAR},
      BGT_EXE_FLAG = #{BGT_EXE_FLAG,jdbcType=VARCHAR},
      PRO_CODE = #{PRO_CODE,jdbcType=VARCHAR},
      PRO_NAME = #{PRO_NAME,jdbcType=VARCHAR},
      BUDGET_LEVEL_CODE = #{BUDGET_LEVEL_CODE,jdbcType=VARCHAR},
      BUDGET_LEVEL_NAME = #{BUDGET_LEVEL_NAME,jdbcType=VARCHAR},
      ORI_BGT_ID = #{ORI_BGT_ID,jdbcType=VARCHAR},
      MOF_DIV_CODE = #{MOF_DIV_CODE,jdbcType=VARCHAR},
      MOF_DIV_NAME = #{MOF_DIV_NAME,jdbcType=VARCHAR},
      UPDATE_TIME = #{UPDATE_TIME,jdbcType=TIMESTAMP},
      IS_DELETED = #{IS_DELETED,jdbcType=VARCHAR},
      CREATE_TIME = #{CREATE_TIME,jdbcType=TIMESTAMP},
      PARAM_1 = #{PARAM_1,jdbcType=VARCHAR},
      PARAM_2 = #{PARAM_2,jdbcType=VARCHAR},
      PARAM_3 = #{PARAM_3,jdbcType=VARCHAR},
      PARAM_4 = #{PARAM_4,jdbcType=VARCHAR},
      PARAM_5 = #{PARAM_5,jdbcType=VARCHAR},
      PARAM_6 = #{PARAM_6,jdbcType=DECIMAL},
      PARAM_7 = #{PARAM_7,jdbcType=DECIMAL},
      PARAM_8 = #{PARAM_8,jdbcType=DECIMAL},
      PARAM_9 = #{PARAM_9,jdbcType=DECIMAL},
      PARAM_10 = #{PARAM_10,jdbcType=DECIMAL}
    where BALANCE_BGT_ID = #{BALANCE_BGT_ID,jdbcType=VARCHAR}
  </update>
</mapper>