<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gov.mof.fasp3.masterdata.maincollector.executive.server.dao.PayBackInfoPOMapper">
  <resultMap id="BaseResultMap" type="gov.mof.fasp3.masterdata.maincollector.executive.server.entity.PayBackInfoPO">
    <!--@mbg.generated-->
    <!--@Table PAY_BACK_INFO-->
    <id column="REF_ID" jdbcType="VARCHAR" property="REF_ID" />
    <result column="PAYBACK_TYPE_CODE" jdbcType="VARCHAR" property="PAYBACK_TYPE_CODE" />
    <result column="MOF_DIV_CODE" jdbcType="VARCHAR" property="MOF_DIV_CODE" />
    <result column="FISCAL_YEAR" jdbcType="VARCHAR" property="FISCAL_YEAR" />
    <result column="EXEC_AGENCY_CODE" jdbcType="VARCHAR" property="EXEC_AGENCY_CODE" />
    <result column="REF_REASON" jdbcType="VARCHAR" property="REF_REASON" />
    <result column="NON_TAX_PAY_NO" jdbcType="VARCHAR" property="NON_TAX_PAY_NO" />
    <result column="NON_TAX_PAY_CODE" jdbcType="VARCHAR" property="NON_TAX_PAY_CODE" />
    <result column="REF_AMT" jdbcType="DECIMAL" property="REF_AMT" />
    <result column="PAYBACK_RECEIVER_NAME" jdbcType="VARCHAR" property="PAYBACK_RECEIVER_NAME" />
    <result column="PAYBACK_RECEIVER_ACC_NO" jdbcType="VARCHAR" property="PAYBACK_RECEIVER_ACC_NO" />
    <result column="PAYBACK_RECBANK_NAME" jdbcType="VARCHAR" property="PAYBACK_RECBANK_NAME" />
    <result column="PAYBACK_BANK_NO" jdbcType="VARCHAR" property="PAYBACK_BANK_NO" />
    <result column="PAYBACK_ACC_NAME" jdbcType="VARCHAR" property="PAYBACK_ACC_NAME" />
    <result column="PAYBACK_ACC_NO" jdbcType="VARCHAR" property="PAYBACK_ACC_NO" />
    <result column="PAYBACK_ACCBANK_NAME" jdbcType="VARCHAR" property="PAYBACK_ACCBANK_NAME" />
    <result column="REF_NO" jdbcType="VARCHAR" property="REF_NO" />
    <result column="REF_DATE" jdbcType="TIMESTAMP" property="REF_DATE" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="UPDATE_TIME" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="CREATE_TIME" />
    <result column="NON_TAX_CODE" jdbcType="VARCHAR" property="NON_TAX_CODE" />
    <result column="NON_TAX_NAME" jdbcType="VARCHAR" property="NON_TAX_NAME" />
    <result column="HOLD1" jdbcType="VARCHAR" property="HOLD1" />
    <result column="HOLD2" jdbcType="VARCHAR" property="HOLD2" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    REF_ID, PAYBACK_TYPE_CODE, MOF_DIV_CODE, FISCAL_YEAR, EXEC_AGENCY_CODE, REF_REASON, 
    NON_TAX_PAY_NO, NON_TAX_PAY_CODE, REF_AMT, PAYBACK_RECEIVER_NAME, PAYBACK_RECEIVER_ACC_NO, 
    PAYBACK_RECBANK_NAME, PAYBACK_BANK_NO, PAYBACK_ACC_NAME, PAYBACK_ACC_NO, PAYBACK_ACCBANK_NAME, 
    REF_NO, REF_DATE, UPDATE_TIME, CREATE_TIME, NON_TAX_CODE, NON_TAX_NAME, HOLD1, HOLD2
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from PAY_BACK_INFO
    where REF_ID = #{REF_ID,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from PAY_BACK_INFO
    where REF_ID = #{REF_ID,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="gov.mof.fasp3.masterdata.maincollector.executive.server.entity.PayBackInfoPO">
    <!--@mbg.generated-->
    insert into PAY_BACK_INFO (REF_ID, PAYBACK_TYPE_CODE, MOF_DIV_CODE, 
      FISCAL_YEAR, EXEC_AGENCY_CODE, REF_REASON, 
      NON_TAX_PAY_NO, NON_TAX_PAY_CODE, REF_AMT, 
      PAYBACK_RECEIVER_NAME, PAYBACK_RECEIVER_ACC_NO, 
      PAYBACK_RECBANK_NAME, PAYBACK_BANK_NO, 
      PAYBACK_ACC_NAME, PAYBACK_ACC_NO, PAYBACK_ACCBANK_NAME, 
      REF_NO, REF_DATE, UPDATE_TIME, 
      CREATE_TIME, NON_TAX_CODE, NON_TAX_NAME, 
      HOLD1, HOLD2)
    values (#{REF_ID,jdbcType=VARCHAR}, #{PAYBACK_TYPE_CODE,jdbcType=VARCHAR}, #{MOF_DIV_CODE,jdbcType=VARCHAR}, 
      #{FISCAL_YEAR,jdbcType=VARCHAR}, #{EXEC_AGENCY_CODE,jdbcType=VARCHAR}, #{REF_REASON,jdbcType=VARCHAR}, 
      #{NON_TAX_PAY_NO,jdbcType=VARCHAR}, #{NON_TAX_PAY_CODE,jdbcType=VARCHAR}, #{REF_AMT,jdbcType=DECIMAL}, 
      #{PAYBACK_RECEIVER_NAME,jdbcType=VARCHAR}, #{PAYBACK_RECEIVER_ACC_NO,jdbcType=VARCHAR}, 
      #{PAYBACK_RECBANK_NAME,jdbcType=VARCHAR}, #{PAYBACK_BANK_NO,jdbcType=VARCHAR}, 
      #{PAYBACK_ACC_NAME,jdbcType=VARCHAR}, #{PAYBACK_ACC_NO,jdbcType=VARCHAR}, #{PAYBACK_ACCBANK_NAME,jdbcType=VARCHAR}, 
      #{REF_NO,jdbcType=VARCHAR}, #{REF_DATE,jdbcType=TIMESTAMP}, #{UPDATE_TIME,jdbcType=TIMESTAMP}, 
      #{CREATE_TIME,jdbcType=TIMESTAMP}, #{NON_TAX_CODE,jdbcType=VARCHAR}, #{NON_TAX_NAME,jdbcType=VARCHAR}, 
      #{HOLD1,jdbcType=VARCHAR}, #{HOLD2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="gov.mof.fasp3.masterdata.maincollector.executive.server.entity.PayBackInfoPO">
    <!--@mbg.generated-->
    insert into PAY_BACK_INFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="REF_ID != null">
        REF_ID,
      </if>
      <if test="PAYBACK_TYPE_CODE != null">
        PAYBACK_TYPE_CODE,
      </if>
      <if test="MOF_DIV_CODE != null">
        MOF_DIV_CODE,
      </if>
      <if test="FISCAL_YEAR != null">
        FISCAL_YEAR,
      </if>
      <if test="EXEC_AGENCY_CODE != null">
        EXEC_AGENCY_CODE,
      </if>
      <if test="REF_REASON != null">
        REF_REASON,
      </if>
      <if test="NON_TAX_PAY_NO != null">
        NON_TAX_PAY_NO,
      </if>
      <if test="NON_TAX_PAY_CODE != null">
        NON_TAX_PAY_CODE,
      </if>
      <if test="REF_AMT != null">
        REF_AMT,
      </if>
      <if test="PAYBACK_RECEIVER_NAME != null">
        PAYBACK_RECEIVER_NAME,
      </if>
      <if test="PAYBACK_RECEIVER_ACC_NO != null">
        PAYBACK_RECEIVER_ACC_NO,
      </if>
      <if test="PAYBACK_RECBANK_NAME != null">
        PAYBACK_RECBANK_NAME,
      </if>
      <if test="PAYBACK_BANK_NO != null">
        PAYBACK_BANK_NO,
      </if>
      <if test="PAYBACK_ACC_NAME != null">
        PAYBACK_ACC_NAME,
      </if>
      <if test="PAYBACK_ACC_NO != null">
        PAYBACK_ACC_NO,
      </if>
      <if test="PAYBACK_ACCBANK_NAME != null">
        PAYBACK_ACCBANK_NAME,
      </if>
      <if test="REF_NO != null">
        REF_NO,
      </if>
      <if test="REF_DATE != null">
        REF_DATE,
      </if>
      <if test="UPDATE_TIME != null">
        UPDATE_TIME,
      </if>
      <if test="CREATE_TIME != null">
        CREATE_TIME,
      </if>
      <if test="NON_TAX_CODE != null">
        NON_TAX_CODE,
      </if>
      <if test="NON_TAX_NAME != null">
        NON_TAX_NAME,
      </if>
      <if test="HOLD1 != null">
        HOLD1,
      </if>
      <if test="HOLD2 != null">
        HOLD2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="REF_ID != null">
        #{REF_ID,jdbcType=VARCHAR},
      </if>
      <if test="PAYBACK_TYPE_CODE != null">
        #{PAYBACK_TYPE_CODE,jdbcType=VARCHAR},
      </if>
      <if test="MOF_DIV_CODE != null">
        #{MOF_DIV_CODE,jdbcType=VARCHAR},
      </if>
      <if test="FISCAL_YEAR != null">
        #{FISCAL_YEAR,jdbcType=VARCHAR},
      </if>
      <if test="EXEC_AGENCY_CODE != null">
        #{EXEC_AGENCY_CODE,jdbcType=VARCHAR},
      </if>
      <if test="REF_REASON != null">
        #{REF_REASON,jdbcType=VARCHAR},
      </if>
      <if test="NON_TAX_PAY_NO != null">
        #{NON_TAX_PAY_NO,jdbcType=VARCHAR},
      </if>
      <if test="NON_TAX_PAY_CODE != null">
        #{NON_TAX_PAY_CODE,jdbcType=VARCHAR},
      </if>
      <if test="REF_AMT != null">
        #{REF_AMT,jdbcType=DECIMAL},
      </if>
      <if test="PAYBACK_RECEIVER_NAME != null">
        #{PAYBACK_RECEIVER_NAME,jdbcType=VARCHAR},
      </if>
      <if test="PAYBACK_RECEIVER_ACC_NO != null">
        #{PAYBACK_RECEIVER_ACC_NO,jdbcType=VARCHAR},
      </if>
      <if test="PAYBACK_RECBANK_NAME != null">
        #{PAYBACK_RECBANK_NAME,jdbcType=VARCHAR},
      </if>
      <if test="PAYBACK_BANK_NO != null">
        #{PAYBACK_BANK_NO,jdbcType=VARCHAR},
      </if>
      <if test="PAYBACK_ACC_NAME != null">
        #{PAYBACK_ACC_NAME,jdbcType=VARCHAR},
      </if>
      <if test="PAYBACK_ACC_NO != null">
        #{PAYBACK_ACC_NO,jdbcType=VARCHAR},
      </if>
      <if test="PAYBACK_ACCBANK_NAME != null">
        #{PAYBACK_ACCBANK_NAME,jdbcType=VARCHAR},
      </if>
      <if test="REF_NO != null">
        #{REF_NO,jdbcType=VARCHAR},
      </if>
      <if test="REF_DATE != null">
        #{REF_DATE,jdbcType=TIMESTAMP},
      </if>
      <if test="UPDATE_TIME != null">
        #{UPDATE_TIME,jdbcType=TIMESTAMP},
      </if>
      <if test="CREATE_TIME != null">
        #{CREATE_TIME,jdbcType=TIMESTAMP},
      </if>
      <if test="NON_TAX_CODE != null">
        #{NON_TAX_CODE,jdbcType=VARCHAR},
      </if>
      <if test="NON_TAX_NAME != null">
        #{NON_TAX_NAME,jdbcType=VARCHAR},
      </if>
      <if test="HOLD1 != null">
        #{HOLD1,jdbcType=VARCHAR},
      </if>
      <if test="HOLD2 != null">
        #{HOLD2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="gov.mof.fasp3.masterdata.maincollector.executive.server.entity.PayBackInfoPO">
    <!--@mbg.generated-->
    update PAY_BACK_INFO
    <set>
      <if test="PAYBACK_TYPE_CODE != null">
        PAYBACK_TYPE_CODE = #{PAYBACK_TYPE_CODE,jdbcType=VARCHAR},
      </if>
      <if test="MOF_DIV_CODE != null">
        MOF_DIV_CODE = #{MOF_DIV_CODE,jdbcType=VARCHAR},
      </if>
      <if test="FISCAL_YEAR != null">
        FISCAL_YEAR = #{FISCAL_YEAR,jdbcType=VARCHAR},
      </if>
      <if test="EXEC_AGENCY_CODE != null">
        EXEC_AGENCY_CODE = #{EXEC_AGENCY_CODE,jdbcType=VARCHAR},
      </if>
      <if test="REF_REASON != null">
        REF_REASON = #{REF_REASON,jdbcType=VARCHAR},
      </if>
      <if test="NON_TAX_PAY_NO != null">
        NON_TAX_PAY_NO = #{NON_TAX_PAY_NO,jdbcType=VARCHAR},
      </if>
      <if test="NON_TAX_PAY_CODE != null">
        NON_TAX_PAY_CODE = #{NON_TAX_PAY_CODE,jdbcType=VARCHAR},
      </if>
      <if test="REF_AMT != null">
        REF_AMT = #{REF_AMT,jdbcType=DECIMAL},
      </if>
      <if test="PAYBACK_RECEIVER_NAME != null">
        PAYBACK_RECEIVER_NAME = #{PAYBACK_RECEIVER_NAME,jdbcType=VARCHAR},
      </if>
      <if test="PAYBACK_RECEIVER_ACC_NO != null">
        PAYBACK_RECEIVER_ACC_NO = #{PAYBACK_RECEIVER_ACC_NO,jdbcType=VARCHAR},
      </if>
      <if test="PAYBACK_RECBANK_NAME != null">
        PAYBACK_RECBANK_NAME = #{PAYBACK_RECBANK_NAME,jdbcType=VARCHAR},
      </if>
      <if test="PAYBACK_BANK_NO != null">
        PAYBACK_BANK_NO = #{PAYBACK_BANK_NO,jdbcType=VARCHAR},
      </if>
      <if test="PAYBACK_ACC_NAME != null">
        PAYBACK_ACC_NAME = #{PAYBACK_ACC_NAME,jdbcType=VARCHAR},
      </if>
      <if test="PAYBACK_ACC_NO != null">
        PAYBACK_ACC_NO = #{PAYBACK_ACC_NO,jdbcType=VARCHAR},
      </if>
      <if test="PAYBACK_ACCBANK_NAME != null">
        PAYBACK_ACCBANK_NAME = #{PAYBACK_ACCBANK_NAME,jdbcType=VARCHAR},
      </if>
      <if test="REF_NO != null">
        REF_NO = #{REF_NO,jdbcType=VARCHAR},
      </if>
      <if test="REF_DATE != null">
        REF_DATE = #{REF_DATE,jdbcType=TIMESTAMP},
      </if>
      <if test="UPDATE_TIME != null">
        UPDATE_TIME = #{UPDATE_TIME,jdbcType=TIMESTAMP},
      </if>
      <if test="CREATE_TIME != null">
        CREATE_TIME = #{CREATE_TIME,jdbcType=TIMESTAMP},
      </if>
      <if test="NON_TAX_CODE != null">
        NON_TAX_CODE = #{NON_TAX_CODE,jdbcType=VARCHAR},
      </if>
      <if test="NON_TAX_NAME != null">
        NON_TAX_NAME = #{NON_TAX_NAME,jdbcType=VARCHAR},
      </if>
      <if test="HOLD1 != null">
        HOLD1 = #{HOLD1,jdbcType=VARCHAR},
      </if>
      <if test="HOLD2 != null">
        HOLD2 = #{HOLD2,jdbcType=VARCHAR},
      </if>
    </set>
    where REF_ID = #{REF_ID,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="gov.mof.fasp3.masterdata.maincollector.executive.server.entity.PayBackInfoPO">
    <!--@mbg.generated-->
    update PAY_BACK_INFO
    set PAYBACK_TYPE_CODE = #{PAYBACK_TYPE_CODE,jdbcType=VARCHAR},
      MOF_DIV_CODE = #{MOF_DIV_CODE,jdbcType=VARCHAR},
      FISCAL_YEAR = #{FISCAL_YEAR,jdbcType=VARCHAR},
      EXEC_AGENCY_CODE = #{EXEC_AGENCY_CODE,jdbcType=VARCHAR},
      REF_REASON = #{REF_REASON,jdbcType=VARCHAR},
      NON_TAX_PAY_NO = #{NON_TAX_PAY_NO,jdbcType=VARCHAR},
      NON_TAX_PAY_CODE = #{NON_TAX_PAY_CODE,jdbcType=VARCHAR},
      REF_AMT = #{REF_AMT,jdbcType=DECIMAL},
      PAYBACK_RECEIVER_NAME = #{PAYBACK_RECEIVER_NAME,jdbcType=VARCHAR},
      PAYBACK_RECEIVER_ACC_NO = #{PAYBACK_RECEIVER_ACC_NO,jdbcType=VARCHAR},
      PAYBACK_RECBANK_NAME = #{PAYBACK_RECBANK_NAME,jdbcType=VARCHAR},
      PAYBACK_BANK_NO = #{PAYBACK_BANK_NO,jdbcType=VARCHAR},
      PAYBACK_ACC_NAME = #{PAYBACK_ACC_NAME,jdbcType=VARCHAR},
      PAYBACK_ACC_NO = #{PAYBACK_ACC_NO,jdbcType=VARCHAR},
      PAYBACK_ACCBANK_NAME = #{PAYBACK_ACCBANK_NAME,jdbcType=VARCHAR},
      REF_NO = #{REF_NO,jdbcType=VARCHAR},
      REF_DATE = #{REF_DATE,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{UPDATE_TIME,jdbcType=TIMESTAMP},
      CREATE_TIME = #{CREATE_TIME,jdbcType=TIMESTAMP},
      NON_TAX_CODE = #{NON_TAX_CODE,jdbcType=VARCHAR},
      NON_TAX_NAME = #{NON_TAX_NAME,jdbcType=VARCHAR},
      HOLD1 = #{HOLD1,jdbcType=VARCHAR},
      HOLD2 = #{HOLD2,jdbcType=VARCHAR}
    where REF_ID = #{REF_ID,jdbcType=VARCHAR}
  </update>
</mapper>