<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.micro.service.springquartz.mapper.DataSourceMapper">
    <resultMap id="BaseResultMap" type="com.micro.service.springquartz.model.DataSourceInfo">
        <!--@mbg.generated-->
        <!--@Table FASP_T_SYNCDATABASE-->
        <id column="GUID" jdbcType="VARCHAR" property="guId"/>
        <result column="DATASOURCEID" jdbcType="VARCHAR" property="datasourceid"/>
        <result column="BUSINESSTYPE" jdbcType="VARCHAR" property="businesstype"/>
        <result column="BUSINESSNAME" jdbcType="VARCHAR" property="businessname"/>
        <result column="URL" jdbcType="VARCHAR" property="url"/>
        <result column="USERNAME" jdbcType="VARCHAR" property="username"/>
        <result column="PASSWORD" jdbcType="VARCHAR" property="password"/>
        <result column="DRIVERCLASSNAME" jdbcType="VARCHAR" property="driverclassname"/>
        <result column="ISDELETE" jdbcType="INTEGER" property="delete"/>
        <result column="DATABASETYPE" jdbcType="INTEGER" property="databasetype"/>
        <result column="CREATETIME" jdbcType="INTEGER" property="createtime"/>
        <result column="CREATEUSER" jdbcType="INTEGER" property="createuser"/>
        <result column="UPDATETIME" jdbcType="INTEGER" property="updatetime"/>
        <result column="UPDATEUSER" jdbcType="INTEGER" property="updateuser"/>
    </resultMap>

    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        GUID, DATASOURCEID, BUSINESSTYPE, BUSINESSNAME, URL, USERNAME, "PASSWORD", DRIVERCLASSNAME,
        CREATETIME, "CREATEUSER", UPDATETIME, UPDATEUSER, DBVERSION, ISDELETE, PUBLICKEY,
        DATABASETYPE, ISSYNC
    </sql>
    <select id="get" resultMap="BaseResultMap">
    	SELECT <include refid="Base_Column_List" /> FROM fasp_t_syncdatabase where isdelete =0 and issync =0 order by createtime desc
    </select>

     <select id="get1" resultType="java.util.HashMap">
    	SELECT * FROM fasp_t_syncdatabase where isdelete =0 and issync =0
    </select>

    <insert id="insertDatasourceInfo" parameterType="com.micro.service.springquartz.model.DataSourceDTO">
    insert into fasp_t_syncdatabase (datasourceid,url, username, password,businessname, driverclassname,guid,
    createtime,businesstype,createuser,updateuser,updatetime,isdelete,issync,dbversion,databasetype)
    values(
        #{datasourceid ,jdbcType=VARCHAR},
        #{url ,jdbcType=VARCHAR},
        #{username ,jdbcType=VARCHAR},
        #{password ,jdbcType=VARCHAR},
        #{businessname ,jdbcType=VARCHAR},
        'oracle.jdbc.OracleDriver',
         sys_guid(),
         sysdate,
         '100100',
         'sync',
         'sync',
         sysdate,
         0,
         0,
         sysdate,
         1
    )
    </insert>
    <delete id="deleteDataSourceByDatasourceId">
        delete from fasp_t_syncdatabase where datasourceId =#{datasourceId ,jdbcType=VARCHAR}
    </delete>
<!--auto generated by MybatisCodeHelper on 2020-10-16-->
    <select id="selectAllByDatasourceid" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from FASP_T_SYNCDATABASE
        where DATASOURCEID=#{datasourceid,jdbcType=VARCHAR}
    </select>

</mapper>