<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.micro.service.springquartz.mapper.FaspTDicdstypeMapper">
  <resultMap id="BaseResultMap" type="com.micro.service.springquartz.model.FaspTDicdstype">
    <!--@mbg.generated-->
    <!--@Table FASP_T_DICDSTYPE-->
    <result column="GUID" jdbcType="VARCHAR" property="guid" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="CREATETIME" jdbcType="CHAR" property="createtime" />
    <result column="CREATEUSER" jdbcType="VARCHAR" property="createuser" />
    <result column="SUPERGUID" jdbcType="VARCHAR" property="superguid" />
    <result column="DBVERSION" jdbcType="TIMESTAMP" property="dbversion" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    GUID, "NAME", CREATETIME, "CREATEUSER", SUPERGUID, DBVERSION
  </sql>
  <insert id="insert" parameterType="com.micro.service.springquartz.model.FaspTDicdstype">
    <!--@mbg.generated-->
    insert into FASP_T_DICDSTYPE (GUID, "NAME", CREATETIME, 
      "CREATEUSER", SUPERGUID, DBVERSION
      )
    values (#{guid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{createtime,jdbcType=CHAR}, 
      #{createuser,jdbcType=VARCHAR}, #{superguid,jdbcType=VARCHAR}, #{dbversion,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.micro.service.springquartz.model.FaspTDicdstype">
    <!--@mbg.generated-->
    insert into FASP_T_DICDSTYPE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="guid != null">
        GUID,
      </if>
      <if test="name != null">
        "NAME",
      </if>
      <if test="createtime != null">
        CREATETIME,
      </if>
      <if test="createuser != null">
        "CREATEUSER",
      </if>
      <if test="superguid != null">
        SUPERGUID,
      </if>
      <if test="dbversion != null">
        DBVERSION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="guid != null">
        #{guid,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=CHAR},
      </if>
      <if test="createuser != null">
        #{createuser,jdbcType=VARCHAR},
      </if>
      <if test="superguid != null">
        #{superguid,jdbcType=VARCHAR},
      </if>
      <if test="dbversion != null">
        #{dbversion,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
<!--auto generated by MybatisCodeHelper on 2020-11-16-->
  <select id="selectAll" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from FASP_T_DICDSTYPE
  </select>
</mapper>